@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model WebNangCao_MVC.Models.Auth.UserLogin
@{
    ViewData["Title"] = "Đăng nhập";
}
<div class="row justify-content-md-center">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Login
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Login", "Auth", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @*@Html.LabelFor(m => m.userName)*@
                        @Html.TextBoxFor(m => m.userName, "", new { @class = "form-control", @placeholder = "Tên người dùng" })
                    </div>
                    <div class="form-group">
                        @*@Html.LabelFor(m => m.password)*@
                        @Html.PasswordFor(m => m.password, new { @class = "form-control", @placeholder = "Mật khẩu" })
                    </div>
                    <div class="form-group">
                        <input type="submit" name="submit" class="btn btn-primary" value="Login" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>

